---
import Gallery from "../components/Gallery.astro";
import Heading from "../components/Heading.astro";
import Layout from "../layouts/Layout.astro";

---


<Layout title="Art">

    <div class="px-10">
        <Heading title="Art"></Heading>
        <div class="p-2 my-8">
            <Gallery></Gallery>
        </section>
    </div>


</Layout>
